/*general*/
body {
  margin: 20px;
  background: #B3B7C9;

  place-items: center;
  min-block-size: 100vh;
  display: grid;
}
.fondo {
  background-image: url(../img/fondo.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  inline-size: 800px;
  block-size: 500px;
  border-radius: 1rem;
}

/*index*/
.inicio h1 {
  font-size: 1.8rem;
  padding: 0 2rem;
}

.inicio h2 {
  font-size: 1.4rem;
  padding: 0 2rem;

}

.inicio h1,
.inicio h2 {
  text-transform: uppercase;
  text-align: end;
  color: #241010;
  font-family: 'Cormorant Garamond', serif;
}

.inicio p {
  text-align: center;
  color: #241010;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.3rem;
}

form {
  padding: 20px;
  block-size: 500px;
}

hr {
  border: none;
  block-size: 2px;
  background-color: #202418;
}

.formulario {
  display: grid;

}
.linea1 {
  margin-inline-start: 0;
  inline-size: 43rem;
}
.linea2 {
  margin-inline-start: 0;
  inline-size: 42rem;
}

.linea3 {
  margin-inline-start: 0;
  inline-size: 39rem;
}

.linea4 {
  margin-inline-start: 0;
  inline-size: 34rem;
}

.linea5 {
  margin-inline-start: 0;
  inline-size: 32rem;
}

.formulario label {
  color: #241010;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.13rem;
}

.botonclas {
  display: flex;
  padding: 0 9rem;
  align-items: center;
}

.botonclas button {
  justify-content: center;
  color: #ffffff;
  background-image: url(../img/bo.jpg);
  border-radius: 0.3rem;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.2rem;
  cursor: pointer;
}

.formulario .fecha {
  inline-size: 10%;
}

.formulario input {
  background-color: transparent;
  border: none;
  font-family: 'Cormorant Garamond', serif;
  color: #241010;
  font-size: 1rem;
  min-inline-size: 20%;
  inline-size: 40%;
}

.formulario input::placeholder {
  color: #241010;
  opacity: 1;
}

.formulario input:focus {
  outline: none;
  border-block-end: 2px solid #000;
  background-color: rgba(255, 255, 255, 0.1);
}
/*resultados*/
.resultados h1 {
  font-size: 1.8rem;
  padding: 1rem  11rem 0 0;
   text-align: end;
}

.resultados h2 {
  font-size: 1.4rem;
  margin: 4rem 0 0 0 ;
  padding: 0 3rem;
 text-align: start;
}

.resultados h1,
.resultados h2 {
  text-transform: uppercase;
 
  color: #241010;
  font-family: 'Cormorant Garamond', serif;
}

.resultados img {
  display: block;
   margin: -18rem 0 0 30rem;
  inline-size: 250px;
  block-size: 250px;
}

.datos{
  margin: 3rem 0 0 9rem;
  display: block;
   background-image: url(../img/dorado.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  inline-size: 300px;
  block-size: 250px;
  border-radius: 1rem;
}
 .datos p {
    text-align: start;
    color: #241010;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.1rem;
    padding-top: 0.2rem;
    margin: 0.5rem 0 0 1rem;
  }

/* Fondo semitransparente detrás del popup */
#popUpOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Fondo oscuro */
    z-index: 9998; /* Justo debajo del popup */
}

/* Caja del popup */
#popUpBox {
    width: 500px;
    overflow: hidden;
    background-image: url(../img/fondo.jpg);
     background-size: 100% 100%;
  background-repeat: no-repeat;

    border: 2px solid black;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    position: fixed;   /* mejor que absolute para que quede centrado siempre */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;     /* encima del overlay */
    padding: 20px;
    text-align: center;
    display: none;     /* oculto por defecto */
}

/* Ícono del modal */
#box i {
   background-image: url(../img/bo.jpg);
 border-radius: 3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1rem 0 0 0 ;
  }

/* Título dentro del modal */
#box h2 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
     text-transform: uppercase;
  color: #241010;
  font-family: 'Cormorant Garamond', serif;
}

/* Botón dentro del modal */
.modal-buttons {
    display: flex;            /* pone los botones en fila */
    gap: 1rem;                /* espacio entre ellos */
    margin:0 0 7rem 5rem;        /* separación del título */
}
#closeModal button {
  
    background-image: url(../img/bo.jpg);
    color: #fff;
    padding: 10px 15px;
    border-radius: 6px;

    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}


#closeModal button:hover {
   
    background-image: url(../img/bo.jpg);
}

/* Botón principal fuera del modal */
.btn{
 justify-content: center;
  color: #ffffff;
  margin: 1rem 0 4rem 8rem;
  background-image: url(../img/bo.jpg);
  border-radius: 0.3rem;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.2rem;
  cursor: pointer;
}


.btn:hover {
    background-image: url(../img/bot.jpg);
}



/* Para Chrome, Safari, Edge */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #241010 !important;
  background-color: transparent !important;
  color: #241010 !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Para Firefox */
input:-moz-autofill {
  box-shadow: 0 0 0 1000px transparent inset !important;
  -moz-text-fill-color: #241010 !important;
  background-color: transparent !important;
  color: #241010 !important;
}