body {
  margin: 20px;
  background: #B3B7C9;

  place-items: center;
  min-block-size: 100vh;
  display: grid;
}

.inicio h1 {
  font-size: 1.8rem;
  padding: 0 2rem;
}

.inicio h2 {
  font-size: 1.4rem;
  padding: 0 2rem;

}

.inicio h1,
.inicio h2 {
  text-transform: uppercase;
  text-align: end;
  color: #241010;
  font-family: 'Cormorant Garamond', serif;
}

.inicio p {
  text-align: center;
  color: #241010;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.3rem;
}

.fondo {
  background-image: url(fondo.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  inline-size: 800px;
  block-size: 500px;
  border-radius: 1rem;
}

form {
  padding: 20px;
  block-size: 500px;
}

hr {
  border: none;
  block-size: 2px;
  background-color: #202418;
}

.formulario {
  display: grid;

}
.linea1 {
  margin-inline-start: 0;
  inline-size: 43rem;
}
.linea2 {
  margin-inline-start: 0;
  inline-size: 42rem;
}

.linea3 {
  margin-inline-start: 0;
  inline-size: 39rem;
}

.linea4 {
  margin-inline-start: 0;
  inline-size: 34rem;
}

.linea5 {
  margin-inline-start: 0;
  inline-size: 32rem;
}

.formulario label {
  color: #241010;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.13rem;
}

.botonclas {
  display: flex;
  padding: 0 9rem;
  align-items: center;
}

.botonclas button {
  justify-content: center;
  color: #ffffff;
  background-image: url(bo.jpg);
  border-radius: 0.3rem;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.2rem;
  box-shadow:
    2px 3px 6px rgba(0, 0, 0, 0.3),
    -1px -1px 4px rgba(60, 40, 20, 0.2),
    inset 0 0 6px rgba(80, 50, 20, 0.15),
    3px 2px 10px rgba(20, 10, 5, 0.2);
  cursor: pointer;
}

.formulario .fecha {
  inline-size: 10%;
}

.formulario input {
  background-color: transparent;
  border: none;
  font-family: 'Cormorant Garamond', serif;
  color: #241010;
  font-size: 1rem;
  min-inline-size: 20%;
  inline-size: 40%;
}

.formulario input::placeholder {
  color: #241010;
  opacity: 1;
}

.formulario input:focus {
  outline: none;
  border-block-end: 2px solid #000;
  background-color: rgba(255, 255, 255, 0.1);
}

.resultados h1 {
  font-size: 1.8rem;
  padding: 3rem  11rem 0 0;
   text-align: end;
}

.resultados h2 {
  font-size: 1.4rem;
  padding: 0 3rem;
 text-align: start;
}

.resultados h1,
.resultados h2 {
  text-transform: uppercase;
 
  color: #241010;
  font-family: 'Cormorant Garamond', serif;
}

.resultados img {
  display: block;
  margin: 0 auto;
  inline-size: 250px;
  block-size: 250px;
}